*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
# Laravel & PHP
/vendor
/node_modules
/.idea
/.vscode
.phpunit.result.cache
.phpactor.json
.phpunit.cache

# Environment files
.env
.env.*

# Build & storage
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/debugbar

# OS & editor
.DS_Store
Thumbs.db
npm-debug.log*
yarn-error.log*

# Other
Homestead.json
Homestead.yaml
/auth.json
